!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:name => "viewport", :content=> "width=device-width; initial-scale=1.0"}/
    %title
      = Kobayashi.blog_name + ' | ' + @title
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :author => Kobayashi.author}/
    %link{:href => "#{Kobayashi.blog_url + '/atom.xml'}", :rel => "alternate", :title => Kobayashi.blog_name + " feed", :type => "application/atom+xml"}/

    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    / Le styles
    %link{:href => '//fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Droid+Serif', :rel => 'stylesheet'}

    -# haml css and js tags for sinatra assetpack
    != css :app
    != js  :app

    / Le fav and touch icons
    %link{:href => "/ico/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "/ico/bootstrap-apple-57X57.png", :rel => "apple-touch-icon"}/
    %link{:href => "/ico/bootstrap-apple-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "/ico/bootstrap-apple-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
  %body
    %header
    %nav
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.brand{:href => "/"}= Kobayashi.blog_name
            %a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .nav_collapse
              = render_navigation  # a la SimpleNavigation gem - see config/navigation.rb
              %ul.right-nav
                %li#github-icon
                  %a{:href => "https://github.com/#{Kobayashi.github}"}
                    %i.icon-github
                %li#twitter-icon
                  %a{:href => "https://twitter.com/#{Kobayashi.twitter}"}
                    %i.icon-twitter
                %li#rss-icon
                  %a{:href => "/atom.xml", :type => "application/atom+xml"}
                    %i.icon-rss

    = yield

    %footer
      .container
        .row
          .span6
            %a#license{:rel=> "license", :href => "http://creativecommons.org/licenses/by-nc/3.0/"}
              %i.icon-f-cc
            %a{:href => "/about"}
              = Kobayashi.author
            2004 -
            = Date.today.year
          .offset6
            .pull-right
              Powered by
              %a{:href => "http://github.com/tundramonkey/kobayashi"}
                Kobayashi

%script{:type => "text/javascript"}
  hljs.initHighlightingOnLoad();

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '#{Kobayashi.google_analytics}']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

